.header {
  display: grid;
  grid-template-columns: 35fr 55fr 10fr;
  align-items: center;
  background-color: #5c38d3;

  height: 8rem;
  padding: 0 4.8rem;
  /* position: relative; */
}

.logo {
  height: 7rem;
}

.title-input {
  height: 4rem;
  width: 35rem;
  border-radius: 7px;
  font-size: 20px;
  /* background-color: #6b45f3; */
  border: 5px solid rgba(107, 69, 243, 0.778);
  /* outline: none; */
}

.results {
  font-size: 20px;
  font-weight: 500;
  color: antiquewhite;
}

.main-part {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.background {
  background-color: #191e1e;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 50px; /* Optional: space between grid items */
}

.grid-item {
  margin-top: 60px;
  margin-bottom: 60px;

  border-radius: 9px;
  background-color: #24272c; /* Optional: for visibility */
  padding: 22px; /* Optional: for spacing inside grid items */
  text-align: center; /*Optional: for text alignment */
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;
  padding: 1.2rem;
  background-color: rgb(92, 56, 150);
  color: aliceblue;
  border-radius: 9px;
}

.sidebar li img {
  /* border-radius: 9px; */
  width: 100%;
  /* grid-row: span 2; */
}

.grid-container,
.grid-item,
.sidebar {
  min-height: 60rem; /* Adjust as needed */
}

.watched-movie-item {
  padding: 1.2rem;
  background-color: rgb(92, 56, 150);
  color: aliceblue;
  border-radius: 9px;
  margin-bottom: 1.2rem; /* space between items */
}

.dynamic-data {
  margin-top: 16px;
  font-size: 16px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}

.movie-title {
  font-size: 18px;
}

/* How woud be the styling when clicked on a movie */

.movie-card {
  /* background-color: #5c38d3; */
  color: aliceblue;
  margin-top: 50px;
}

.img-and-data {
  display: flex;
  background-color: #273034;
  gap: 5rem;
}

.image-movie {
  height: 25rem;
  display: block;
  text-align: start;
}

.movie-main-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 25px;
}

.movie-main-data h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: start;
}
.movie-main-data div {
  display: flex;
  gap: 5px;
  font-size: 16px;
}

.movie-main-data p {
  font-size: 16px;
  text-align: start;
}

.movie-summary {
  margin-top: 50px;
  font-size: 16px;
  text-align: start;
  line-height: 1.5;
}

.movie-description p {
  text-align: start;
  padding-top: 15px;
  font-size: 16px;
}

.movie-item {
  cursor: pointer;
}

.add-to-library-button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  width: 110px;
  font-size: 13px;
  font-weight: 500;
  text-align: start;
  padding: 7px 10px;
  background-color: #5c38d3;
  color: aliceblue;
  transition: background-color 0.3s;
  /* border: 2px solid #5c38d3;  */
  border: none;
  border-radius: 9px;
}

.add-to-library-button:hover,
.add-to-library-button:active {
  background-color: rgba(92, 56, 211, 0.582);
}

.loading {
  margin-top: 48px;
  font-size: 20px;
}

.loadingFromInput {
  font-size: 20px;
  margin-top: 68px;
  background-color: #24272c;
}

.movie-list {
  max-height: 70rem;
  overflow-y: auto;
}

.movie-list::-webkit-scrollbar {
  width: 3px;
  height: 50px;
}

/* - FONT SIZE SYSTEM (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - SPACING SYSTEM (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
