.footer {
  padding: 8rem 0;
  /* border-top: 1px solid #eee; */
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #ffff;
  line-height: 1.6;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: rgba(255, 255, 255, 0.35);
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
  color: #ffff;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #ffffff70;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--5-cols {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer {
  background-color: #5c3896;
}
